$DRAK-GRAY-D: #434A54;
$DRAK-GRAY-L: #656d78;
$MEDIUM-GRAY-D: #AAB2BD;
$MEDIUM-GRAY-L: #CCD1D9;
$LIGHT-GRAY-D: #F5F7FA;
$LIGHT-GRAY-L: #E6E9ED;
$GRAPEFRUIT-D: #DA4453;
$GRAPEFRUIT-L: #ED5565;
$SUNFLOWER-D: #F6BB42;
$SUNFLOWER-L: #FFCE54;
$GRASS-D: #8CC152;
$GRASS-L: #A0D468;
$BLUE-JEANS-D: #4A89DC;
$BLUE-JEANS-L: #5D9CEC;

* { font-family: 'Roboto'; }

.top { z-index: 100; background-color: $DRAK-GRAY-D; color: $LIGHT-GRAY-L;
    p { font-size: 1.4em; letter-spacing: 2px; position: absolute; margin-top: 18px; margin-left: 18px; }
    ion-menu-button { float: right; font-size: 4em; margin: 6px 8px; }
}

form { width: 100%; padding: 10px 20px; margin-top: 30px; margin-bottom: 80px;
    h1 { text-align: center; font-size: 2.8em; margin-bottom: 40px; }
    label {
        p { padding: 0px; margin: 0px; font-weight: 600; letter-spacing: 1px; color: cornflowerblue; }
        input {
            width: 100%; padding: 12px 0px; margin-top: 10px; margin-bottom: 40px; border: none; border-bottom: 2px solid #D2D2D2; font-weight: 400; transition: all .3s;
            //width: 100%; padding: 0px; margin-top: -10px; margin-bottom: 40px; border: none; border-bottom: 2px solid #D2D2D2; font-weight: 400; transition: all .3s;
            &:hover { border-bottom: 2px solid cornflowerblue; }
            &:focus { box-shadow: 0 0 0 0; border-bottom: 2px solid cornflowerblue; outline: 0; }
            //&:focus { box-shadow: 0 0 0 0; border-bottom: 2px solid cornflowerblue; outline: 0; padding: 12px 0px; margin-top: 10px; }
        }
        select { width: 100%; padding: 12px 0px; margin-top: 10px; margin-bottom: 40px; border: none; border-bottom: 2px solid #D2D2D2; font-weight: 400; transition: all .3s;
            &:hover { border-bottom: 2px solid cornflowerblue; }
            &:focus { box-shadow: 0 0 0 0; border-bottom: 2px solid cornflowerblue; outline: 0; padding: 12px 0px; margin-top: 10px; }
        }
        ion-datetime { width: 100%; padding: 12px 0px; margin-top: 10px; margin-bottom: 40px; border: none; border-bottom: 2px solid #D2D2D2; font-weight: 400; transition: all .3s;
            &:hover { border-bottom: 2px solid cornflowerblue; }
            &:focus { box-shadow: 0 0 0 0; border-bottom: 2px solid cornflowerblue; outline: 0; padding: 12px 0px; margin-top: 10px; }
        }
        span {
            position: absolute; right: 15px; margin-top: -80px; font-size: 1.4em; padding: 5px; z-index: 100;
        }
        .invalid { border-bottom: 2px solid tomato; }
    }
    .submmit {
        p { position: absolute; font-size: 1.6em; margin: 12px 0px; }
        button { float: right; width: 60px; height: 60px; border-radius: 30px;
            &:hover { border: none; }
            &:focus { box-shadow: 0 0 0 0; border-bottom: none; outline: 0; background-color: cornflowerblue; color: #ffffff; }
            ion-icon { font-size: 3em; }
        }
    }
}
.footer { margin-top: 20px; }

