* { font-family: 'Roboto'; }

ion-menu { z-index: 1000000000; }

ion-title { color: cornflowerblue; }

ion-item{ border-bottom: 1px solid #DEDEDE;
  &:last-child{ border-bottom: none; }
}

.list-item{ --border-style: none }

.ion-icon-close { margin-right: 12px; }

.ion-icon-exit { --ionicon-stroke-width: 64px; }

.ion-icon-favorite { --ionicon-stroke-width: 64px; margin-right: 16px; }
